html {overflow-x: hidden;}



  * {
    margin:0;
      top: 0;
    padding:0;
  }


#Background {width: 100vw;
position: absolute;
    overflow-x: hidden;
left: 0;
    width: 103vw;
    z-index: 1;
top: -2vw;}

#Background2 {width: 100vw;
height: 90vw;
top: 145vw;
background-color: #DDA063;
position: absolute;}



#Home {z-index: 2;
position: fixed;
height: 4.5vw;
top: 2vw;
    width: 4.5vw;
left: 2vw;}

#Footer {z-index: 3;
position: absolute;
width: 150vw;
    left: 0;
    top: 230vw;
}

#Twitter {z-index: 10;
position: absolute;
height: 3.9vw;
left: 43vw;
top: 231.4vw;
filter: brightness(0.9);
transition: all 0.5s ease;}

#Twitter:hover {filter: opacity(0.6);
    -webkit-filter:opacity(0.6);
)}


#Insta {z-index: 10;
position: absolute;
height: 3.9vw;
left: 47.5vw;
top: 231.4vw;
filter: brightness(0.9);
    transition: all 0.5s ease;
}

#Insta:hover {filter: opacity(0.6);
    -webkit-filter: opacity(0.6);
)}

#Dribbble {z-index: 10;
position: absolute;
height: 3.9vw;
    width: 3.9vw;
left: 52vw;
top: 231.4vw;
filter: brightness(0.9);
transition: all 0.5s ease;
}

#Dribbble:hover {filter: opacity(0.6);
    -webkit-filter:opacity(0.6);
)}

#Title {font-family: Amatic SC, sans-serif;
z-index: 20;
    position: absolute;
left: 49.5vw;
top: 18.5vw;
    font-size: 3.5vw;
    color: #b06244;
}


#Cthulhu1 {position: absolute;
z-index: 200;
height: 20vw;
height: 35vw; 
left: 28vw;
top: 95vw;
border: 4px solid #b06244;}

#Cthulhu2 {position: absolute;
z-index: 200;
height: 10vw;
width: 43vw;
height: 45vw;
border: 4px solid #b06244;
left: 28vw;
top: 134vw;}

#Cthulhu3 {position: absolute;
z-index: 200;
height: 23vw;
top: 70vw;
left: 28vw;
border: 4px solid #b06244;}

p {position: absolute;
z-index: 200;
width: 20vw;
left: 50vw;
top: 96.4vw;
font-family: "Quicksand", sans-serif;
color: #58333f;
font-size: 0.94vw;}

#Threadless {top: 181vw;
width:43.5vw;
left: 28vw;}

#Sketch {position: absolute;
height: 32vw;
z-index: 50;
border: 4px solid #b06244;
left: 28vw;
    top: 188vw;}

#Process {top: 188.7vw;
width:20vw;
left: 50vw;}

#LineStudy {position: absolute;
z-index: 50;
    font-family: Amatic SC, sans-serif;
    width: 40vw;
left: 29vw;
    text-align: center;
top: 56.5vw;
    font-size: 3.5vw;
    color: #b06244;
}

#toplink {z-index: 35;
    position: absolute;
    color: #DDA063;
    top: 116.2vw;
    left: 40vw; 
    text-decoration: underline;
    font-family: "Amatic SC", sans-serif;
    font-size: 1.5vw;
    transition: all 0.5s ease;
}

#toplink:hover {filter: opacity(0.6);
    -webkit-filter: opacity(0.6);}